.content {
  height: 32px;
  background: #1890ff;
}

.titleFont {
  font-size: 20px;
  margin-left: 28px;
  margin-top: 16px;
}

::ng-deep .ant-modal-body{
  padding: 0;
}

.label {
  padding-left: 0 !important;
}

:host ::ng-deep .ant-modal-content {
  width: 612px;
}

::ng-deep .page-header {
  border-bottom: 0.1px solid #fff;
}

:host ::ng-deep .page-header__detail {
  transform: translateY(40px);
}

::ng-deep .ant-modal-close-x {
  width: 32px;
  height: 32px;
  color: #fff;
  margin-top: -10px;
  margin-right: 8px;
}

:host ::ng-deep .ant-form {margin-left: 18px;}

.footer {
  text-align: right;
  margin-top: 20px;
}

.footerBtnCancel {
  margin-right: 24px;
  margin-left: 10px;
}

/* .card {
  height: 400px;
} */

:host ::ng-deep .ant-form-item {
  margin-bottom: 16px;
}

:host ::ng-deep .ant-card-body {
  padding-bottom: 0;
}
